{
  "api.version": "v1",
  "sources": [
    {
      "sourceType": "LocalFile",
      "name": "roadtrippers-shared-{{ env }}",
      "pathExpression": "/srv/shared/log/*.log",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": true,
      "forceTimeZone": true,
      "timeZone": "UTC",
      "category": "{{ env }}/shared-rails"
    },
    {
      "sourceType": "LocalFile",
      "name": "roadtrippers-rails-{{ env }}",
      "pathExpression": "/srv/roadtrippers/log/*.log",
      "automaticDateParsing": true, 
      "multilineProcessingEnabled": false,
      "useAutolineMatching": true,
      "forceTimeZone": true,
      "timeZone": "UTC",
      "category": "{{ env }}/rails"
    },
    {
      "sourceType": "LocalFile",
      "name": "nginx-access-{{ env }}",
      "pathExpression": "/var/log/nginx/access.log",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": true,
      "forceTimeZone": true,
      "timeZone": "UTC",
      "category": "{{ env }}/nginx"
    },
    {
      "sourceType": "LocalFile",
      "name": "nginx-error-{{ env }}",
      "pathExpression": "/var/log/nginx/error.log",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": true,
      "forceTimeZone": true,
      "timeZone": "UTC",
      "category": "{{ env }}/nginx.error"
    },
    {
      "sourceType": "LocalFile",
      "name": "nginx-access-ssl-{{ env }}",
      "pathExpression": "/var/log/nginx/access.ssl.log",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": true,
      "forceTimeZone": true,
      "timeZone": "UTC",
      "category": "{{ env }}/nginx.ssl"
    }
  ]
}
